<head>
    <title>Iniciar sesi칩n</title>
</head>
<div class="container">
    <div class="align-content-center">
        <h3>Login</h3>
        <form action="/auth/login" method="post" class="row g-3">
            <div class="col-3">
                <label for="user" class="form-label">Usuario</label>
                <div class="input-group">
                    <label for="user" class=" input-group-text"><i class="fas fa-user"></i></label>
                    <input type="text" class="form-control" id="user" name="username" placeholder="Usuario">
                </div>
            </div>
            <div class="col-3">
                <label for="pass" class="form-label">Contrase침a</label>
                <div class="input-group">
                    <label for="pass" class="input-group-text"><i class="fas fa-key"></i></label>
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="Contrase침a">
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Iniciar Sesi칩n</button>
            </div>
        </form>
    </div>
</div>